[default]
output = json
region = us-west-2
aws_access_key_id = {{getenv "AWS_ACCESS_KEY"}}
aws_secret_access_key = {{getenv "AWS_SECRET_ACCESS_KEY"}}
aws_session_token = {{getenv "AWS_SESSION_TOKEN"}}
